---
title: Blog | Humandone

url: blog

socialTitle: Blog
socialDescription:
socialImg:
socialImgSquare:
socialImgTwitter:

bg: gray
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="top bg-black">
  <div class="top__box box box_small box_padding">
    <h1 class="caption color-white">Blog.</h1>
  </div>
</div>

<div class="box box_small pt-40 mb-80 nav-color-black">
  <div class="block-small">

    {% set blogItems = [{
    "category": "Design",
    "color":    "orange-red",
    "title":    "Web design trends and ground rules: 10 directions for 2020",
    "desc":     "In this article, we will walk you through the 2020 quality web design trends.",
    "link":     "web-design-trends-and-ground-rules-10-directions-for-2020"
    },{
    "category": "Design",
    "color":    "orange-red",
    "title":    "Top web design styles 2020",
    "desc":     "In this article, we will walk you through the 2020 quality web design trends.",
    "link":     "top-web-design-styles-2020"
    },{
    "category": "Development",
    "color":    "pink-red",
    "title":    "20 useful NodeJs libraries in 2020",
    "desc":     "Exploring the the most useful packages of NodeJs needed nowadays.",
    "link":     "20-useful-nodejs-libraries-in-2020"
    },{
    "category": "Development",
    "color":    "pink-red",
    "title":    "Top 8 web dev trends in 2020",
    "desc":     "Determining the tools to use when creating websites in future.",
    "link":     "top-8-web-dev-trends-in-2020"
    },{
    "category": "Processes & Tools",
    "color":    "blue-violet",
    "title":    "Project management tools: efficiency, task setting, and communication",
    "desc":     "Talking about the solutions, which are popular among digital managers.",
    "link":     "project-management-tools-efficiency-task-setting-and-communication"
    },{
    "category": "Processes & Tools",
    "color":    "blue-violet",
    "title":    "TOP effective project management methods",
    "desc":     "Studying standards and approaches have been designed to manage projects.",
    "link":     "top-effective-project-management-methods"
    }] %}

    {% for item in blogItems %}
      <div class="mb-20">
        {{ blog(item.category, item.color, item.title, item.desc, item.link) }}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}