// This unit is responsible for the typography of the project.
// Do not write here any third-party styling.

/* Montserrat Light */
//@font-face {
//	font-family: 'Montserrat';
//	font-style: normal;
//	font-weight: 300;
//	src: url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
//		 url('../fonts/Montserrat/Montserrat-Light.woff') format('woff');
//}

/* Filson Soft Regular */
@font-face {
	font-family: 'Filson Soft';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Filson_Soft_Regular.woff2') format('woff2'),
		 url('../fonts/Filson_Soft_Regular.woff') format('woff');
}

/* Wigrum Light */
@font-face {
	font-family: 'Wigrum';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Wigrum-Light.woff2') format('woff2'),
		 url('../fonts/Wigrum-Light.woff') format('woff');
}

/* Wigrum Regular */
@font-face {
	font-family: 'Wigrum';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Wigrum-Regular.woff2') format('woff2'),
	url('../fonts/Wigrum-Regular.woff') format('woff');
}

/* Wigrum Medium */
@font-face {
	font-family: 'Wigrum';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Wigrum-Medium.woff2') format('woff2'),
	url('../fonts/Wigrum-Medium.woff') format('woff');
}