// Fonts
$font-path: '/fonts';

/* GT Walsheim Pro - Medium */
@font-face {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url($font-path + '/gt-walsheim-medium.woff2') format('woff2'),
  url($font-path + '/gt-walsheim-medium.woff') format('woff');
}

/* GT Walsheim Pro - Bold */
@font-face {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url($font-path + '/gt-walsheim-bold.woff2') format('woff2'),
  url($font-path + '/gt-walsheim-bold.woff') format('woff');
}