/** PNG icons from sprite.png **/
.icon {
  display: inline-block;

  &_storage {
    @include sprite($storage);
  }
  &_support {
    @include sprite($support);
  }
  &_security {
    @include sprite($security);
  }

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: url('/img/sprite@2x.png');
    background-size: 65px auto;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.wrapper__content {
  flex: 1 0 auto;
}

/** page container - centered container with left and right paddings **/
.box {
  width: 100%;
  max-width: $width-default;
  min-width: 320px;
  padding-left: $padding-big;
  padding-right: $padding-big;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $screen-lg) {
    padding-left: $padding-middle;
    padding-right: $padding-middle;
  }
  @media (max-width: $screen-xs) {
    padding-left: $padding-small;
    padding-right: $padding-small;
  }
}

/** grid system **/
.grid {
  display: flex;
  flex-wrap: wrap;

  &_prices {
    margin-left: -20px;
    margin-right: -20px;

    .grid {
      &__cell {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        width: 25%;
      }
    }
    .price {
      flex: 1;
    }

    @media (min-width: $screen-lg+1) and (max-width: $screen-xl) {
      margin-left: -15px;
      margin-right: -15px;

      .grid {
        &__cell {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
    @media (max-width: $screen-lg) {
      .grid {
        &__cell {
          padding-left: 15px;
          padding-right: 15px;
          width: 50%;

          &:nth-child(odd) {
            align-items: flex-end;
          }
          &:nth-child(n+3) {
            margin-top: 30px;
          }
        }
      }
      .price {
        width: 280px;
      }
    }
    @media (max-width: $screen-md) {
      .price {
        width: 248px;
      }
    }
    @media (max-width: $screen-sm) {
      margin-left: 0;
      margin-right: 0;

      .price {
        width: 320px;
      }

      .grid {
        &__cell {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
          align-items: center;

          &:nth-child(odd) {
            align-items: center;
          }
          &:nth-child(n+2) {
            margin-top: 40px;
          }
        }
      }
    }
    @media (max-width: 420px) {
      .price {
        width: 100%;
      }
    }
  }
  &_advantages {
    max-width: 876px;
    margin-left: auto;
    margin-right: auto;

    .grid {
      &__cell {
        padding-left: 20px;
        padding-right: 20px;
        width: 33.333%;
      }
    }

    @media (max-width: $screen-lg) {
      max-width: 680px;
    }
    @media (max-width: $screen-md) {
      max-width: none;
      margin-left: -15px;
      margin-right: -15px;

      .grid {
        &__cell {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
    @media (max-width: $screen-sm) {
      margin-left: 0;
      margin-right: 0;

      .grid {
        &__cell {
          padding-left: 0;
          padding-right: 0;
          width: 100%;

          &:nth-child(n+2) {
            margin-top: 50px;
          }
        }
      }
    }
  }
}

/** responsive margins **/
.mb {
  @include mb-default;

  &_big {
    @include mb-big;
  }
  &_small {
    @include mb-small;
  }
}

.loader {
  display: block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  animation: rotate 0.8s infinite linear;
  transform: translateZ(0);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid $white;

  &:after {
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
}


/* animations */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/** buttons **/
.btn {
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 8px;
  font-family: $font-family;
  font-weight: 500;
  line-height: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-decoration: none;
  text-align: center;
  transition: all $transition;

  &::-moz-focus-inner {
    border: none;
  }

  &.btn_loading {
    position: relative;
    pointer-events: none;
    color: transparent !important;
  }

  &_type {
    &_border {
      border: 2px solid $white;
      color: $white;
      padding: 13px 30px 11px;
      font-size: 16px;
      line-height: 18px;

      &:hover,
      &:focus {
        border-color: darken($white,10%);
        color: darken($white,10%);
      }
    }
    &_border-sm {
      border: 2px solid $white;
      color: $white;
      font-weight: 500;
      padding: 10px 24px 8px;
      font-size: 13px;
      line-height: 16px;

      &:hover,
      &:focus {
        border-color: darken($white,10%);
        color: darken($white,10%);
      }
    }
    &_light {
      color: $blue;
      background-color: $white;
      padding: 14px 24px 12px;
      font-size: 16px;
      line-height: 18px;

      &:hover,
      &:focus {
        color: darken($blue,10%);
      }

    }
    &_light-sm {
      color: $blue;
      background-color: $white;
      font-weight: 500;
      padding: 11px 20px 9px;
      font-size: 13px;
      line-height: 16px;

      &:hover,
      &:focus {
        color: darken($blue,10%);
      }
    }
    &_dark {
      color: $white;
      background-color: $blue;
      padding: 16px 30px 13px;
      font-size: 16px;
      line-height: 18px;

      &:hover,
      &:focus {
        background-color: darken($blue, 10%);
      }
    }
  }
  &_wide {
    width: 100%;
  }
}

/** title and description **/
.title {
  font-family: $filson;
  color: $black;
  font-size: 35px;
  line-height: 1.35;
  font-weight: 500;
  text-align: center;

  &_mb {
    @include mb-headings;
  }

  @media (max-width: $screen-lg) {
    font-size: 32px;
  }
  @media (max-width: $screen-md) {
    font-size: 28px;
  }
}

.desc {
  margin-top: 25px;
  text-align: center;
  color: $blue;
  @include font(20,30);

  &_md {
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: $screen-md) {
    margin-top: 23px;
    font-size: 18px;
  }
}

/*** header ***/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 3000;
  background-color: transparent;
  transition: height $transition, background-color $transition-time linear;

  &__box {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }
  &__btn {
    margin-left: auto;
    padding-left: 45px;
  }
  .btn_type_light {
    border: 2px solid transparent;
    padding: 13px 22px 11px;
  }

  &_light {
    .header {

    }
    .logo {
      &__icon {
        fill: $blue;
      }
    }
    .nav {
      &__link {
        color: $black;

        &:after {
          background-color: $black;
        }
      }
      &__line {
        &:after {
          background-color: $black;
        }
      }
    }
    .nav-btn {
      &__line,
      &__line:before,
      &__line:after {
        background-color: $blue;
      }
    }
    .login {
      color: $blue;
      margin-left: auto;

      &:after {
        background-color: $blue;
      }
      &__line {
        &:after {
          background-color: $blue;
        }
      }
      &__icon {
        fill: $blue;
      }
    }
  }

  @media (min-width: $screen-lg+1) {
    &__container {
      display: flex;
      align-items: center;
      flex: 1;
    }
  }
  @media (max-width: $screen-lg) {
    height: $header-height-mob;

    &__btn {
      margin-top: 30px;
      padding-left: 40px;
    }

    .btn_type_light {
      border-color: $blue;
    }

    &__container {
      background-color: $white;
      padding: 0;
      margin-left: 0;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2000;
      visibility: hidden;
      width: 0;
      height: 0;
      transform: scale(0);
      opacity: 0;
      overflow-y: auto;
      overflow-x: hidden;
      transition: opacity $transition-time-nav $transition-style,
      transform $transition-time-nav $transition-style,
      visibility $transition-time-nav $transition-style;
    }
  }

  @media (max-width: $screen-xs) {
    &__btn {
      margin-top: 25px;
      padding-left: 20px;
    }
  }
}

.logo {
  display: block;
  position: relative;
  margin-right: 96px;
  height: 49px;
  width: 124px;
  transition: height .1s ease;

  &:hover,
  &:focus {
    outline: none;
  }

  &__icon {
    max-width: 100%;
    max-height: 100%;
    margin-top: -11px;
    fill: $white;
    transition: opacity $transition, height .1s ease;
  }

  @media (max-width: $screen-lg) {
    width: auto;
    margin-right: 0;

    &__icon {
      margin-top: 5px;
      margin-left: -10px;
      height: 36px;
    }
  }
}

.login {
  display: flex;
  position: relative;
  padding: 5px 20px 5px 0;
  color: $white;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  transition: color $transition, opacity $transition;

  &__line {
    position: relative;

    @media (min-width: $screen-lg+1) {
      &:after {
        position: absolute;
        left: 0;
        bottom: -4px;
        background-color: $white;
        display: block;
        content: "";
        height: 2px;
        width: 0;
        transition: width $transition-time ease-in-out;
      }
    }
  }
  &__icon {
    position: absolute;
    right: 2px;
    fill: $white;
    @include center-Y;
    transition: fill $transition;
  }

  @media (min-width: $screen-lg+1) {
    margin-left: 46px;

    &:hover {
      .login {
        &__line:after {
          width: 100%;
        }
      }
    }
  }
  @media (max-width: $screen-lg) {
    display: inline-block;
    color: $text-color;
    font-size: 32px;
    font-weight: normal;
    padding-left: 40px;
    padding-right: 35px;

    &__icon {
      fill: $black;
      width: 21px;
      height: 21px;
    }
  }
  @media (max-width: $screen-xs) {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 25px;

    &__icon {
      width: 16px;
      height: 16px;
    }
  }
}

/* main navigation */
.nav {
  &__list {
    display: flex;

    @media (min-width: $screen-lg+1) {
      height: 100%;
    }
    @media (max-width: $screen-lg) {
      display: block;
    }
  }
  &__login {
    display: flex;
    align-items: center;
    margin-left: 45px;
  }
  &__item {
    position: relative;

    @media (min-width: $screen-lg+1) {
      display: flex;
      align-items: center;
      height: 100%;

      &:nth-child(n+2) {
        margin-left: 46px;
      }
    }
    @media (max-width: $screen-lg) {
      margin-left: 0;

      &:nth-child(n+2) {
        margin-top: 5px;
      }
    }
    @media (max-width: $screen-xs) {
      &:nth-child(n+2) {
        margin-top: 2px;
      }
    }
  }
  &__link {
    display: block;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    transition: color $transition, opacity $transition;

    @media (min-width: $screen-lg+1) {
      &:hover {
        .nav {
          &__line:after {
            width: 100%;
          }
        }
      }
    }
    @media (max-width: $screen-lg) {
      align-items: center;
      color: $text-color;
      font-size: 32px;
      font-weight: normal;
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (max-width: $screen-xs) {
      font-size: 28px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__line {
    position: relative;
    word-wrap: break-word;
    overflow-wrap: break-word;

    @media (min-width: $screen-lg+1) {
      &:after {
        position: absolute;
        left: 0;
        bottom: -4px;
        background-color: $white;
        display: block;
        content: "";
        height: 2px;
        width: 0;
        transition: width $transition-time ease-in-out;
      }
    }
  }
}

/* burger button styles */
.nav-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3000;
  width: 82px;
  height: 100%;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  @media (max-width: $screen-lg) {
    display: block;
  }
  @media (max-width: $screen-xs) {
    width: 72px;
  }
  &__line,
  &__line:before,
  &__line:after {
    position: absolute;
    height: 2px;
    background-color: #fff;
    transform-origin: center center;
    transition: transform $transition-time-nav ease,
    background-color $transition-time-nav ease;
  }
  &__line {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -14px;
    width: 30px;

    &:before,
    &:after {
      content: '';
      left: 0;
      right: 0;
      top: 0;
    }
    &:before {
      transform: rotate(0) translateY(-8px);
    }
    &:after {
      transform: rotate(0) translateY(8px);
    }
  }
}

/* styles for header when we scroll page */
.page-scrolled {
  .header {
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    @media (min-width: $screen-lg+1) {
      height: $header-height-scrolled;
    }
  }
  .logo {
    &__icon {
      fill: $blue;
    }
    @media (min-width: $screen-lg+1) {
      &__icon {
        height: 40px;
        margin-top: 2px;
        margin-left: -7px;
      }
    }
  }
  .nav {
    @media (min-width: $screen-lg+1) {
      &__link {
        color: $blue;

        &:after {
          background-color: $blue;
        }
      }
      &__line {
        &:after {
          background-color: $blue;
        }
      }
    }
  }
  .login {
    @media (min-width: $screen-lg+1) {
      color: $blue;

      &:after {
        background-color: $blue;
      }
      &__line {
        &:after {
          background-color: $blue;
        }
      }
      &__icon {
        fill: $blue;
      }
    }
  }
  .btn_type_light {
    border-color: $blue;
  }
  &.nav-opened {
    .nav-btn__line {
      background: transparent;
    }
  }
  .nav-btn {
    &__line,
    &__line:before,
    &__line:after {
      background-color: $blue;
    }
  }
}

/* styles for header when we open mobile navigation */
.nav-opened {
  @media (max-width: $screen-lg) {
    .header {
      &__container {
        visibility: visible;
        width: 100%;
        height: 100%;
        opacity: 1;
        transform: scale(1);
        padding-top: 90px;
        padding-bottom: 60px;
      }
    }
    .nav-btn {
      &__line:before,
      &__line:after {
        background-color: $blue;
      }
      &__line {
        background: transparent;

        &:before {
          transform: rotate(45deg) translateY(0);
        }
        &:after {
          transform: rotate(-45deg) translateY(0);
        }
      }
    }
  }
  @media (max-width: $screen-sm) {
    .header {
      &__container {
        padding-top: 65px;
        padding-bottom: 55px;
      }
    }
  }
  @media (max-width: $screen-xs), (max-height: 360px) {
    .header {
      &__container {
        padding-top: 55px;
        padding-bottom: 55px;
      }
    }
  }
}

/** form elements **/
.input {
  position: relative;

  &__item {
    outline: none;
    display: block;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid $white;
    color: $white;
    font-size: 13px;
    line-height: 20px;
    font-family: $font-family;
    font-weight: normal;
    padding: 4px 30px 3px 0;
    background-color: transparent;
    height: $form-height;
    appearance: none;
    transition: border-color $transition-time ease;
    @include placeholder($white);

    &:hover {
    }
    &:focus {
      outline: none;
    }
    &:disabled,
    &_disabled {
      color: $gray;
      background-color: #ebeae9;
    }
  }
  &__submit {
    position: absolute;
    right: 0;
    top: 0;
    height: $form-height;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    padding: 0;
    text-decoration: none;
    border-radius: 0;
    cursor: pointer;
    border: none;
    font-size: 0;
    background-color: transparent;
  }
  &__icon {
    fill: #fff;
    margin-left: 8px;
  }
  &__error-message {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: none;
    color: #613838;
    font-family: $font-family;
    font-size: 12px;
    line-height: 14px;
    padding-top: 3px;
    text-align: left;

    &_show {
      display: block;
    }
  }

  &_error {
    border-color: transparent;

    .input {
      &__error-message {
        display: block;
      }
    }
  }
}

/* main screen at the top of page */
.main {
  position: relative;
  padding-top: $header-height + 104px;
  padding-bottom: 144px;
  background-image: linear-gradient(to right bottom,$blue,#408ce9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  overflow: hidden;

  &__bg-wrap {
    width: 100%;
    overflow: hidden;
  }
  &__bg {
    display: block;
    fill: #fff;
    width: 102%;
    height: 130px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;

    @media (max-width: $screen-xl) {
      width: 1280px;
      height: 120px;
    }
  }

  &__title {
    font-family: $filson;
    color: $white;
    font-size: 55px;
    line-height: 1.3;
    font-weight: bold;
    text-align: center;
  }
  &__desc {
    font-weight: 300;
    margin-top: 32px;
    color: $white;
    font-size: 20px;
    line-height: 1.5;
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__buttons {
    margin-top: 40px;
    margin-left: -17px;
    margin-right: -17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__btn {
    margin: 10px 17px;
  }
  &__info {
    margin-top: 15px;
    color: $white;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }

  @media (max-width: $screen-xl) {
    margin-bottom: 60px;
  }
  @media (max-width: $screen-lg) {
    padding-top: 200px;
    margin-bottom: 50px;
  }
  @media (max-width: $screen-md) {
    padding-top: 200px;
    margin-bottom: 40px;
  }
  @media (max-width: $screen-sm) {
    padding-top: 160px;
    margin-bottom: 20px;

    &__buttons {
      margin-top: 30px;
    }
    &__title {
      font-size: 34px;
    }
    &__desc {
      font-size: 19px;
    }
  }
  @media (max-width: $screen-xs) {
    padding-top: 140px;

    &__buttons {
      margin-top: 20px;
    }
    &__title {
      font-size: 30px;
    }
    &__desc {
      margin-top: 27px;
    }
    &__info {
      margin-top: 10px;
    }
  }
}

.advantage {
  text-align: center;

  &__figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  }
  &__title {
    margin-top: 39px;
    @include font(18,25);
  }

  @media (max-width: $screen-sm) {
    &__title {
      margin-top: 35px;
    }
  }
}

.price {
  display: flex;
  flex-direction: column;
  border: 1px solid $blue;
  border-radius: 4px;
  padding: 32px 30px 28px;
  text-align: center;

  &_sharepay {
    background-color: $blue-light;
  }
  &_active {
    background-color: $blue-light;
  }

  &__wrap {
    flex: 1;
  }
  &__sign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    background-color: $blue-light;
    border-radius: 18px;
    color: $blue;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 41px;
  }
  &__letters {
    margin-top: 2px;
  }
  &__tarif {
    margin-bottom: 18px;
  }
  &__currency {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    font-size: 23px;
    font-weight: 300;
  }
  &__value {
    font-size: 60px;
    font-weight: 500;
  }
  &__period {
    font-size: 18px;
    font-weight: 300;
    margin-left: 6px;
  }
  &__desc {
    @include font(17,34);
    color: $gray;
  }
  &__mark {
    color: $blue;
    font-weight: 500;
  }
  &__bottom {
    margin-top: 30px;
  }
  &__btn {
    width: 100%;
  }

  @media (min-width: $screen-lg+1) and (max-width: $screen-xl) {
    padding: 30px 26px 26px;

    &__value {
      font-size: 52px;
    }
    &__period {
      font-size: 17px;
      margin-left: 3px;
    }
    &__desc {
      font-size: 16px;
    }
    &__currency {
      margin-top: 8px;
      font-size: 21px;
    }
  }
}

.action {
  @include font(14,21);
  color: $gray;
  margin-top: 12px;
  text-align: center;

  &__link {
    padding-bottom: 3px;
    text-decoration: none;
    color: $gray;
    border-bottom: 1px solid $blue;
    transition: color $transition;

    &:hover {
      color: $blue;
    }
  }
}

.wall {
  @include wall;
  padding: 70px 50px 56px;

  &__title {
    margin: 0 auto 37px;
    max-width: 660px;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $screen-sm) {
    padding: 50px 30px 36px;
  }
}

.info {
  display: flex;
  flex-wrap: wrap;

  &__column {
    @include wall;
    padding: 38px 60px;

    &_base {
      flex: 1;
    }
    &_side {
      width: 34%;
      margin-left: 40px;
    }
  }
  &__title {
    margin-bottom: 25px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  &__list {
    padding-left: 1%;

    &_wide {
      flex: 1;
    }
    &_narrow {
      width: 37%;
      min-width: 214px;
      padding-left: 40px;
    }
  }
  &__item {
    @include font(17,25);
    font-weight: 500;
    color: $blue;
    position: relative;
    padding-left: 20px;

    &:after {
      content: "";
      display: block;
      width: 12px;
      height: 10px;
      position: absolute;
      left: 0;
      top: 8px;
      background-image: url('/img/checkmark.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
    }

    &:nth-child(n+2) {
      margin-top: 18px;
    }
  }
  &__table {
    border-collapse: collapse;
  }
  &__cell {
    padding-top: 3px;
    padding-bottom: 3px;

    &_def {
      @include font(17,25);
      font-weight: 500;
      text-align: right;
      padding-right: 26px;
    }
    &_desc {
      color: $blue;
      @include font(17,25);
      font-weight: 500;
      border-left: 1px solid #dfe7ef;
      padding-left: 26px;
    }
  }

  @media (max-width: $screen-xl) {
    &__column {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media (max-width: $screen-lg) {
    &__box {
      display: block;
      padding-top: 5px;
    }
    &__column {
      &_side {
        min-width: 310px;
        margin-left: 30px;
      }
    }
    &_main {
      .info {
        &__list {
          padding-left: 0;

          &_narrow {
            margin-top: 18px;
            padding-left: 0;
          }
        }
      }
    }
  }
  @media (max-width: $screen-md) {
    &__column {
      width: 100%;

      &_side {
        margin-top: 40px;
        margin-left: 0;
      }
    }
    &__table {
      margin-left: auto;
      margin-right: auto;
    }

    &_main {
      display: block;
      width: 420px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: $screen-sm) {
    width: 100%;

    &__column {
      &_side {
        margin-top: 35px;
      }
    }
    &__cell {
      &_desc {
        min-width: 100px;
      }
    }

    &_payment {
      display: block;
      margin-left: auto;
      margin-right: auto;

      .info {
        &__list {
          padding-left: 0;

          &_narrow {
            margin-top: 18px;
            padding-left: 0;
          }
        }
      }
    }
  }
  @media (max-width: 420px) {
    &__cell {
      &_desc {
        min-width: 0;
      }
    }
  }
  @media (max-width: $screen-xs) {
    &__column {
      padding-left: 20px;
      padding-right: 20px;

      &_side {
        min-width: 0;
      }
    }
  }
}

/* styles for all slick sliders */
.slick-dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 0;
  @include center-X;
  max-width: $width-default;
  margin: 0 0 0 -35px;

  @media (max-width: 1280px) {
    margin-left: -30px;
  }
  @media (max-width: $screen-xl) {
    margin-left: -15px;
  }
  @media (max-width: $screen-sm) {
    margin-left: 0;
  }

  li {
    width: auto;
    height: auto;
    margin: 0 33px;

    &.slick-active button {
      &:after {
        background-color: $blue;
        border-color: $blue;
      }
      &:hover:after,
      &:focus:after {
        background-color: $blue;
      }
    }

    button {
      position: relative;
      height: 16px;
      width: 120px;
      padding: 0;
      opacity: 1;
      font-size: 0;

      &:before {
        content: none;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        height: 4px;
        background-color: $white;
        border: 1px solid #d6ddfa;
        transition: background-color $transition, border-color $transition;
      }
      &:hover:after,
      &:focus:after {
        background-color: #d6ddfa;
      }
    }

    @media (max-width: $screen-xl) {
      margin: 0 23px;

      button {
        width: 90px;
      }
    }
    @media (max-width: $screen-lg) {
      margin: 0 20px;

      button {
        width: 70px;
      }
    }
    @media (max-width: $screen-md) {
      margin: 0 14px;

      button {
        width: 52px;
      }
    }
    @media (max-width: $screen-sm) {
      margin: 0 8px;

      button {
        width: 35px;
      }
    }
    @media (max-width: $screen-xs) {
      margin: 0 7px;

      button {
        width: 30px;
      }
    }
  }
}
.slick-slide {
  &:focus {
    outline: none;
  }
}

.memory {
  display: flex;
  align-items: center;

  &__side {
    width: 45%;
    padding-left: 42px;
    padding-right: 103px;
    padding-bottom: 5px;
  }
  &__base {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-bottom: 27px;
  }
  &__title {
    text-align: left;
  }
  &__desc {
    text-align: left;
  }
  &__wrap {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 27px;
      left: -27px;
      right: 27px;
      height: 100%;
      background-color: $blue-light;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      z-index: 2;
      opacity: .55;
      background-image: linear-gradient(to right bottom,$blue,#408ce9);
    }
  }
  &__img {
    position: relative;
    z-index: 1;
  }

  @media (max-width: 1280px) {
    &__side {
    }
    &__wrap {
      transform: translateX(27px);
    }
  }
  @media (max-width: $screen-lg) {
    &__side {
      width: 50%;
      padding-left: 30px;
      padding-right: 7%;
    }
    &__wrap {
      &:before {
        top: 20px;
        left: -20px;
        right: 20px;
      }
    }
  }
  @media (max-width: $screen-md) {
    &__side {
      padding-left: 0;
    }
  }
  @media (max-width: $screen-sm) {
    display: block;

    &__side {
      width: 100%;
      padding-right: 0;
    }
    &__base {
      margin-top: 25px;
      padding-left: 40px;
      padding-right: 40px;
    }
    &__title,
    &__desc {
      text-align: center;
    }
    &__wrap {
      transform: translateX(0);

      &:before {
        top: 9%;
        left: -6%;
        right: 6%;
      }
    }
  }
}

.carousel {
  &__slide {
    overflow: hidden;
  }
  &__item {
    &.slick-slider {
      margin-bottom: 0;
      padding-bottom: 60px;
    }
  }

  &_memories {
    width: 100%;
    max-width: $width-big;
    min-width: 320px;
    padding-left: 70px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-bottom: 30px;
  }
  &_lifetime {
    .carousel {
      &__item {
        &.slick-slider {
          padding-bottom: 0;
        }
      }
      &__year {
        display: none;
        @include font(23,34);
        font-weight: 500;
        color: #d5d5d6;
        text-align: center;
        transform: translateY(-47px);
        transition: color $transition;

        @media (max-width: $screen-md) {
          font-size: 21px;
          transform: translateY(-43px);
        }
        @media (max-width: $screen-xs) {
          font-size: 19px;
          transform: translateY(-39px);
        }
      }
      &__slide {
        position: relative;
        height: 109px;
        padding-top: 45px;
        padding-bottom: 29px;

        &:after {
          content: '';
          position: absolute;
          top: 45px;
          @include center-X;
          height: 19px;
          width: 3px;
          background-color: #d2effb;
        }

        &:nth-child(5n+1) {
          &:after {
            height: 35px;
          }
          .carousel__year {
            display: block;
          }
        }
        &.slick-current {
          &:after {
            background-color: $blue;
          }
          .carousel__year {
            color: $black;
          }
        }
      }
    }
  }

  @media (max-width: 1280px) {
    &_memories {
      padding-left: 60px;
    }
  }
  @media (max-width: $screen-xl) {
    &_memories {
      padding-left: 30px;
    }
  }
  @media (max-width: $screen-lg) {
    &__item {
      &.slick-slider {
        padding-bottom: 45px;
      }
    }

    &_memories {
      padding-left: 25px;
    }
  }
  @media (max-width: $screen-sm) {
    &__item {
      &.slick-slider {
        padding-bottom: 8%;
      }
    }

    &_memories {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  @media (max-width: $screen-xs) {
    &__item {
      &.slick-slider {
      }
    }
  }
}

/* lifetime gallery */
.photo {
  position: relative;
  @include responsive-ratio(600,500);

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 2;
    opacity: .55;
    background-image: linear-gradient(to right bottom,$blue,#408ce9);
  }

  &__img {
    position: absolute;
    display: block;
    font-family: "object-fit: cover; object-position: left top;";
    object-fit: cover;
    object-position: left top;
    width: 100%;
    height: 100%;
  }
}

.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 870px;

  &__cell {
    margin: 0 50px 60px;
  }
  &__img {

  }
  @media (max-width: $screen-lg) {
    &__cell {
      margin: 0 35px 30px;
    }
    &__img {
      max-height: 60px;
    }
  }
  @media (max-width: $screen-md) {
    &__cell {
      margin: 0 30px 26px;
    }
    &__img {
      max-height: 50px;
    }
  }
  @media (max-width: $screen-sm) {
    &__cell {
      margin: 0 18px 21px;
    }
    &__img {
      max-height: 38px;
    }
  }
  @media (max-width: $screen-xs) {
    &__cell {
      margin: 0 13px 15px;
    }
    &__img {
      max-height: 34px;
    }
  }
}

/*** footer ***/
.footer {
  flex: 0 0 auto;
  padding-top: 67px;
  padding-bottom: 34px;
  background-color: $blue;

  &__box {
    padding-left: 25px;
    padding-right: 25px;
  }
  &__container {
    display: flex;
  }
  &__base {
    width: 414px;
    margin-right: 5%;
  }
  &__side {
    max-width: 575px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  }
  &__bottom {
    display: flex;
    margin-top: 20px;
  }
  &__copy {
    @include font(12,18);
    font-weight: 500;
    color: $white;
    margin-left: auto;
  }

  &__column {
    width: 33.333%;

    &:nth-child(n+2) {
      padding-left: 7%;
    }
  }
  &__heading {
    @include font(14,21);
    font-weight: 500;
    color: rgba(255,255,255,.65);
    margin-bottom: 9px;
  }
  &__item {
    &:nth-child(n+2) {
      margin-top: 4px;
    }
  }
  &__link {
    font-weight: bold;
    color: $white;
    text-decoration: none;
    @include font(14,21);
    transition: color $transition;

    &:hover {
      color: rgba(255,255,255,.7);
    }
  }
  &__title {
    @include font(23,35);
    font-weight: 500;
    color: $white;
    margin-bottom: 16px;
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    &:nth-child(n+2) {
      margin-left: 25px;
    }
  }
  &__mail {
    margin-top: 31px;
  }
  &__row {
    display: flex;
    padding-top: 34px;
    border-top: 1px solid $blue-light;
  }
  &__aside {
    margin-right: 30px;
  }
  &__dark-link {
    font-weight: 500;
    color: $black;
    text-decoration: none;
    @include font(12,18);
    transition: color $transition;

    &:hover {
      color: $blue;
    }
  }

  /* light footer */
  &_light {
    background-color: $white;
    padding-top: 0;
    padding-bottom: 34px;

    .footer {
      &__copy {
        color: $black;
      }
    }
  }

  @media (max-width: $screen-xl) {
    &__box {
      padding-left: 20px;
      padding-right: 20px;
    }
    &__side {
      max-width: 100%;
    }
    &__base {
      margin-right: 9%;
    }
  }
  @media (max-width: 1100px) {
    &__column {
      &:first-child {
        width: 40%;
      }
      &:nth-child(2) {
        width: 33%;
      }
      &:nth-child(3) {
        width: 27%;
      }
    }
  }
  @media (max-width: $screen-lg) {
    padding-top: 60px;

    &_light {
      padding-top: 0;
    }

    &__box {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (min-width: $screen-md+1) and (max-width: $screen-lg) {
    &__base {
      width: 290px;
      margin-right: 13%;
    }
    &__buttons {
      display: block;
    }
    &__btn {
      &:nth-child(n+2) {
        margin-top: 20px;
        margin-left: 0;
      }
      .btn {
        width: 100%;
      }
    }
  }
  @media (max-width: 840px) {
    &__base {
      margin-right: 8%;
    }
    &__column {
      &:first-child {
        width: 44%;
      }
      &:nth-child(2) {
        width: 28%;
      }
      &:nth-child(3) {
        width: 28%;
      }
    }
  }
  @media (max-width: $screen-md) {
    padding-top: 50px;

    &_light {
      padding-top: 0;
    }

    &__container {
      display: block;
    }
    &__base {
      margin-right: 0;
    }
    &__side {
      margin-top: 35px;
    }
    &__column {
      &:first-child {
        width: 33.333%;
      }
      &:nth-child(2) {
        width: 33.333%;
      }
      &:nth-child(3) {
        width: 33.333%;
      }
    }
  }
  @media (max-width: 480px) {
    &__base {
      width: 100%;
    }
    &__buttons {
      display: block;
    }
    &__btn {
      &:nth-child(n+2) {
        margin-top: 20px;
        margin-left: 0;
      }
      .btn {
        width: 100%;
      }
    }
    /* light footer */
    &_light {
      .footer {
        &__row {
          display: block;
          text-align: center;
        }
        &__aside {
          margin-right: 0;
        }
        &__copy {
          margin-top: 15px;
        }
      }
    }
  }
}

/** payment page **/
.enjoy {
  text-align: center;
  position: relative;
  padding-top: $header-height + 29px;
  padding-bottom: 72px;
  background-color: $blue-light;
  margin-bottom: 60px;

  &__title {
    font-family: $filson;
    @include font(54,70);
    color: $black;
  }
  &__desc {
    margin-top: 26px;
    @include font(20,30);
    color: $black;
  }

  @media (max-width: $screen-xl) {
    //margin-bottom: 60px;
  }
  @media (max-width: $screen-lg) {
    padding-top: 170px;
    //margin-bottom: 50px;

    &__title {
      font-size: 44px;
    }
    &__desc {
      margin-top: 24px;
      font-size: 19px;
    }
  }
  @media (max-width: $screen-md) {
    //margin-bottom: 40px;
  }
  @media (max-width: $screen-sm) {
    padding-top: 160px;
    //margin-bottom: 20px;

    &__title {
      font-size: 34px;
    }
    &__desc {
      margin-top: 20px;
      font-size: 18px;
    }
  }
  @media (max-width: $screen-xs) {
    padding-top: 140px;

    &__title {
      font-size: 30px;
    }
    &__desc {
      margin-top: 18px;
    }
  }
}

/* payment steps */
.payment-section {

}
.step {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;

  &__side {
    width: 314px;
    margin-right: 40px;
  }
  &__base {
    flex: 1;
    padding-top: 32px;
    max-width: 650px;

    &_wide {
      max-width: 100%;
    }
  }
  &__counter {
    @include font(18,25);
    font-weight: 500;
    color: $gray;
    margin-bottom: 4px;
  }
  &__title {
    font-family: $filson;
    @include font(36,44);
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  &__bottom {
    margin-top: 12px;
  }
  &__link {
    @include font(17,25);
  }
  &__button {
    margin-top: 37px;
    text-align: center;
  }
  &__price {
    width: 254px;
    margin-left: -25px;
    margin-top: 31px;
  }
  &__text {
    margin-top: 52px;
    @include font(17,28);
    color: $gray;
  }
  &__checkbox {
    margin-top: 19px;
  }
  &__info {
    max-width: 650px;
  }

  @media (max-width: $screen-xl) {
    &__side {
      width: 280px;
    }
    &__price {
      margin-left: -10px;
    }
  }
  @media (max-width: $screen-lg) {
    display: block;
    margin-bottom: 50px;

    &__side {
      width: 100%;
    }
    &__base {
      padding-top: 30px;
    }
    &__price {
      padding-bottom: 10px;
    }
  }
  @media (max-width: $screen-md) {

  }
  @media (max-width: $screen-sm) {
    &__title {
      font-size: 32px;
    }

  }
  @media (max-width: $screen-xs) {

  }
}
.link {
  padding-bottom: 3px;
  text-decoration: none;
  color: $gray;
  border-bottom: 1px solid $blue;
  transition: color $transition;

  &:hover {
    color: $blue;
  }
}

.form {
  &__error {
    .form {
      &__input,
      &__textarea,
      &__select {
        border-color: $form-error-border;

        &:focus, &:hover {
          border-color: $form-error-border;
        }
      }
      &__error-message {
        display: block;
      }
    }
  }
  &__error-message {
    width: 100%;
    display: none;
    color: $form-error-text;
    font-family: $font-family;
    font-size: 13px;
    line-height: 16px;
    padding-top: 4px;
    text-align: left;
  }

  /* input fields */
  &__select,
  &__input,
  &__textarea {
    outline: none;
    display: block;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border: 2px solid $form-border;
    color: $text-color;
    font-size: 17px;
    line-height: 22px;
    font-family: $font-family;
    font-weight: normal;
    padding: 16px $form-paddings 12px;
    background-color: #fff;
    transition: border-color $transition;

    &:hover {
      border-color: $form-border-hover;
    }
    &:focus {
      border-color: $form-border-focus;
      outline: none;
    }
    &:disabled,
    &_disabled {
      color: $form-disabled-text;
      background-color: #ebeae9;
    }
  }
  &__input,
  &__select {
    position: relative;
    height: $form-height;
    appearance: none;
  }
  &__input,
  &__textarea {
    @include placeholder($gray);
  }
  &__input {
    &_date {
      padding-right: 40px;
      background-repeat: no-repeat;
      //background-image: url('/img/sprite@2x.png');
      background-position: right center;
    }
  }
  &__select {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    color: $gray;
    padding-left: $form-paddings;
    padding-right: 60px;
    background-repeat: no-repeat;
    //background-image: url('/img/sprite@2x.svg');
    background-position: right center;

    &::-ms-expand {
      display: none;
    }
  }
  &__option {
    padding: 5px 9px;

    &:focus {
      outline: none;
    }
  }
  &__textarea {
    overflow: auto;
    resize: vertical;
  }

  /**/
  &__row {
    position: relative;
    margin-top: 21px;

    &:first-child {
      margin-top: 0;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 24px;

    &_bold {
      font-weight: bold;
    }
  }
  &__forgot {
    display: flex;
    align-items: center;
    padding-right: 13px;
    padding-left: 13px;
    position: absolute;
    right: 2px;
    top: 9px;
    border-radius: 10px;
    height: $form-height - 11;
    background-color: #fff;
  }
  &__f-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: $gray-light;
    transition: color $transition;

    &:hover {
      color: $blue;
    }
  }
  &__flex {
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom {
    margin-top: 21px;
  }

  &__choice {
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
  }
  &__bar {
    width: 50%;
    padding-left: 16px;
    padding-right: 16px;
  }
  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -11px;
    margin-right: -11px;
  }
  &__cell {
    width: 50%;
    padding-left: 11px;
    padding-right: 11px;

    &_country {
      width: 57%;
    }
    &_billing {
      width: 43%;
    }
  }

  @media (max-width: $screen-md) {
    &__choice {
      margin-left: -13px;
      margin-right: -13px;
    }
    &__bar {
      padding-left: 13px;
      padding-right: 13px;
    }
  }
  @media (max-width: $screen-sm) {
    &__choice {
      display: block;
      margin-left: 0;
      margin-right: 0;
    }
    &__bar {
      width: 100%;
      padding-left: 0;
      padding-right: 0;

      &:nth-child(n+2) {
        margin-top: 21px;
      }
    }
    &__grid {
      display: block;
      margin-left: 0;
      margin-right: 0;
    }
    &__cell {
      width: 100%;
      padding-left: 0;
      padding-right: 0;

      &:nth-child(n+2) {
        margin-top: 21px;
      }
    }
    &__input,
    &__textarea {
      padding-left: 20px;
      padding-right: 20px;
    }
    &__select {
      padding-left: 20px;
    }
  }
}

.radio {
  display: flex;
  flex-direction: column;
  line-height: 1;

  &__input {
    display: none;

    &:checked + .radio__label {
      &:after {
        height: 8px;
        width: 8px;
      }
    }
  }
  &__label {
    flex: 1;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    position: relative;
    padding-left: 27px;
    min-height: 20px;
    color: $black;

    &:before {
      top: 0;
      content: "";
      box-sizing: border-box;
      position: absolute;
      border-radius: 50%;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border: 1px solid #c6c6c6;
      transition: border-width .15s ease;
    }
    &:after {
      content: "";
      box-sizing: border-box;
      border-radius: 50%;
      position: absolute;
      top: 6px;
      left: 6px;
      background-color: $black;
    }
    &:hover:before {
      border-color: #9d9d9d;
    }
  }
  &__title {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 1px;
  }
  &__desc {
    display: block;
    font-size: 16px;
    line-height: 24px;
  }
  &__link {
    color: $blue;
    text-decoration: none;
    border-bottom: 1px solid $black;

    &:hover {
      color: $black;
      border-bottom-color: $black;
    }
  }

  &_bar {
    .radio {
      &__input {
        &:checked + .radio__label {
          background-color: $blue;
          color: $white;

          &:after {
            width: 20px;
            height: 16px;
            opacity: 1;
          }
          .radio__mark {
            color: $white;
          }
        }
      }
      &__label {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 20px;
        min-height: 20px;
        border-radius: 6px;
        background-color: $blue-light;
        text-align: center;
        padding: 48px 50px 12px;
        color: $black;
        transition: background-color $transition;

        &:before {
          top: 19px;
          left: 18px;
          height: 26px;
          width: 26px;
          background-color: $white;
          border: none;
        }
        &:after {
          opacity: 0;
          top: 25px;
          left: 21px;
          background-image: url('/img/checkmark_blue.svg');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: cover;
          background-color: transparent;
          display: block;
          width: 20px;
          height: 16px;
          transition: opacity $transition;
        }
      }
      &__top {
        flex: 1;
      }
      &__caption {
        @include font(40,40);
        font-family: $filson;
      }
      &__description {
        @include font(17,20);
        margin-top: 3px;
        font-weight: 500;
      }
      &__currency {
        display: inline-block;
        vertical-align: top;
        margin-top: 6px;
        font-size: 23px;
        font-weight: 300;
      }
      &__value {
        @include font(44,54);
        font-weight: 500;
      }
      &__value-sm {
        display: inline-block;
        vertical-align: top;
        margin-top: 2px;
        @include font(24,28);
        font-weight: 500;
      }
      &__period {
        font-size: 18px;
        font-weight: 300;
        margin-left: 6px;
      }
      &__mark {
        margin-top: 5px;
        @include font(17,25);
        font-weight: 500;
        color: $gray;
      }
      &__bottom {
        margin-top: 21px;
      }
    }
  }

  @media (max-width: $screen-md) {
    &_bar {
      .radio {
        &__caption {
          font-size: 37px;
        }
      }
    }
  }
}
.checkbox {
  line-height: 1;

  &__label {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 25px;
    cursor: pointer;
    position: relative;
    padding-left: 37px;
    min-height: 25px;
    color: $black;

    &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      background-color: $white;
      border: 2px solid $gray-light;
      border-radius: 4px;
    }
    &:after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      opacity: 0;
      top: 5px;
      left: 4px;
      background-repeat: no-repeat;
      background-image: url('/img/checkmark.svg');
      background-size: cover;
      width: 15px;
      height: 13px;
      transition: opacity $transition;
    }
    &:hover:before {
      border-color: $form-border-hover;
    }
  }
  &__input {
    display: none;

    &:checked + .checkbox__label {
      &:after {
        opacity: 1;
      }
    }
    &[disabled="disabled"] + .checkbox__label {
      cursor: default;
      opacity: 0.5;

      &:before {
        border-color: $gray-light;
      }
    }
  }
}

/* popup (modal window) */
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  text-align: center;
  font-size: 0;
  background-color: $bg-overlay;
  z-index: 6500;
  visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  transition: visibility 0s ease $transition-time-modal,
  transform 0s ease $transition-time-modal,
  opacity $transition-time-modal ease,
  width 0s ease $transition-time-modal,
  height 0s ease $transition-time-modal;

  &:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
  }
  &__box {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
    padding: 15px 20px;
    width: 455px;
    font-size: 14px;
    opacity: 0;
    transform: scale(0.6);
    transition: transform .25s ease,
    opacity .25s ease;
  }
  &__body {
    position: relative;
    box-sizing: border-box;
    padding: 21px 29px 29px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.33);
    transition: padding .2s ease;
  }
  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 19px;
    box-sizing: border-box;
    padding-right: 20px;
  }
  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #fff;

    &:hover {
      .popup__close-icon {
        fill: $black;
      }
    }
  }
  &__close-icon {
    fill: #000;
    transition: fill $transition-time ease;
  }

  /* opened popup */
  &_show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    pointer-events: auto;
    transition: transform 0s ease,
    opacity $transition-time-modal ease;

    .popup {
      &__box {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  @media screen and (max-width: $screen-sm) {
    &__box {
      width: 100%;
    }
    &__title {
      font-size: 24px;
      line-height: 28px;
    }
    &__close {
      top: 8px;
      right: 8px;
    }
  }
  @media screen and (max-width: $screen-sm) {
    &__body {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media screen and (max-width: $screen-xs) {
    &__body {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.total {
  margin-top: 45px;
  text-align: center;

  &__box {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .price__tarif {
      margin-bottom: 0;
    }
  }
  &__title {
    margin-right: 10px;
    font-size: 40px;
    line-height: 50px;
  }
  &__buttons {
    margin-top: 15px;
  }
}