---
title: Contact Us | Humandone

keywords:
description:

socialTitle: Contact Us
socialDescription: Have an idea? Let’s talk!
socialImg:
socialImgSquare:
socialImgTwitter:

bg: gray
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="top bg-black">
  <div class="top__box box box_small box_padding">
    <h1 class="caption color-white">Have an idea?</h1>
  </div>
</div>

<div class="box box_small pt-40 mb-80 nav-color-black">
  <h2 class="title mb-40">Let’s talk!</h2>

  <!-- contact form -->
  <div class="block-small">
    <form class="form" id="form-contact">
      <div class="form__container">
        <div class="form__row">
          <label class="form__label">I’m interested in…</label>
          <div class="form__control">
            <div class="form__flex">
              <div class="form__item check">
                <input class="check__input" type="checkbox" name="projects[]" value="Web design" id="contactFormCheckboxWebdesign">
                <label class="check__label" for="contactFormCheckboxWebdesign">Web design</label>
              </div>
              <div class="form__item check">
                <input class="check__input" type="checkbox" name="projects[]" value="App design" id="contactFormCheckboxAppdesign">
                <label class="check__label" for="contactFormCheckboxAppdesign">App design</label>
              </div>
              <div class="form__item check">
                <input class="check__input" type="checkbox" name="projects[]" value="Illustrations" id="contactFormCheckboxIllustrations">
                <label class="check__label" for="contactFormCheckboxIllustrations">Illustrations</label>
              </div>
              <div class="form__item check">
                <input class="check__input" type="checkbox" name="projects[]" value="HTML/CSS" id="contactFormCheckboxHTMLCSS">
                <label class="check__label" for="contactFormCheckboxHTMLCSS">HTML/CSS</label>
              </div>
              <div class="form__item check">
                <input class="check__input" type="checkbox" name="projects[]" value="Mobile development" id="contactFormCheckboxMobdev">
                <label class="check__label" for="contactFormCheckboxMobdev">Mobile development</label>
              </div>
              <div class="form__item check">
                <input class="check__input" type="checkbox" name="projects[]" value="UX/UI" id="contactFormCheckboxUXUI">
                <label class="check__label" for="contactFormCheckboxUXUI">UX/UI</label>
              </div>
              <div class="form__item check">
                <input class="check__input" type="checkbox" name="projects[]" value="Site or app from scratch" id="contactFormCheckboxScratch">
                <label class="check__label" for="contactFormCheckboxScratch">Site or app from scratch</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form__row">
          <label for="contactFormInputName" class="form__label">Name</label>
          <div class="form__control">
            <input class="form__input" id="contactFormInputName" type="text" name="name" placeholder="Jordan" required>
            <div class="form__error-message">Please enter your Name</div>
          </div>
        </div>
        <div class="form__row">
          <label for="contactFormInputEmail" class="form__label">Email</label>
          <div class="form__control">
            <input class="form__input" id="contactFormInputEmail" type="email" name="email" placeholder="email@example.com" required>
            <div class="form__error-message">Please enter your Email</div>
          </div>
        </div>
        <div class="form__row">
          <label for="contactFormInputAbout" class="form__label">What is your project about?</label>
          <div class="form__control">
            <textarea rows="4" class="form__textarea" id="contactFormInputAbout" name="message" placeholder="Describe it" required></textarea>
            <div class="form__error-message">Please tell us what your project is about</div>
          </div>
        </div>
        <div class="form__btn">
          <button class="btn btn_primary" type="submit"><span class="btn__text">Leave a message</span></button>
        </div>
      </div>
      <div class="form__success">
        <div class="form__success-box content">
          <!-- success message -->
          <div class="form__success-title text">Your message has been successfully sent!</div>
          <p class="text-sm">
            We will contact you within an hour :)
          </p>
          <!-- success message (end) -->
        </div>
      </div>
    </form>
  </div>
  <!-- contact form (end) -->

</div>

{% endblock %}