---
title: Homepage | Humandone

keywords:
description:

socialTitle: Humandone - Design and Development
socialDescription: Great projects start with the great process

scrollAnimations: true

---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="container">
  <div class="bg-box-pink"></div>

  <!-- Hero -->
  <div class="trigger-hero" id="triggerHero"></div>
  <section class="hero">
    <div class="box">
      <div class="hero__heading" id="targetHeroBadge">
        <div class="badge">Design & Development</div>
      </div>
      <div class="hero__caption" id="targetHero">
        <svg class="hero__text hero__text_mob inline-svg" src="../img/hero_mob.svg"></svg>
        <svg class="hero__text hero__text_desktop inline-svg" src="../img/hero.svg"></svg>
      </div>
    </div>
  </section>
  <!-- Hero END -->

  <!-- Process -->
  <div class="sticky" id="triggerProcess">
    <div class="sticky__content box">
      <h1 class="sticky__caption caption color-white" id="targetProcess">
        Great projects start with<br>
        the great process
      </h1>
    </div>
  </div>
  <!-- Process END -->

  <!-- Primary acquaintance -->
  <section class="frame frame_meet" id="triggerMeet">
    <div class="frame__content">
      <div class="frame__box box">
        <div class="info">
          <div class="info__base">
            <h3 class="info__title color-blue-violet">Primary acquaintance</h3>
            <p class="text">
              We learn everything about your idea, offer options and work through every tiny detail.
            </p>
          </div>
          <div class="info__side">
            <picture class="info__pic">
              <source srcset="/img/meet-and-brief_mob.png, /img/meet-and-brief_mob@2x.png 2x"
                      media="(max-width: 480px)">
              <img class="info__img lazyload" data-src="/img/meet-and-brief.png" data-srcset="/img/meet-and-brief@2x.png 2x"
                   alt="Primary acquaintance">
            </picture>
          </div>
        </div>
      </div>
      <div class="frame__bg"></div>
    </div>
  </section>
  <!-- Primary acquaintance END -->

  <!-- Concept Development -->
  <section class="frame frame_dev" id="triggerDev">
    <div class="frame__content">
      <div class="frame__box box">
        <div class="info">
          <div class="info__base">
            <h3 class="info__title color-green-blue">Concept Development</h3>
            <p class="text color-silver">
              We work out the agreed details building a demo version of your future creation providing consulting support.
            </p>
          </div>
          <div class="info__side">
            <picture class="info__pic">
              <source srcset="/img/concept-dev_mob.png, /img/concept-dev_mob@2x.png 2x" media="(max-width: 480px)">
              <img class="info__img lazyload" data-src="/img/concept-dev.png" data-srcset="/img/concept-dev@2x.png 2x"
                   alt="Concept Development">
            </picture>
          </div>
        </div>
      </div>
      <div class="frame__bg"></div>
    </div>
  </section>
  <!-- Concept Development END -->

  <!-- Production -->
  <section class="frame frame_prod" id="triggerProd">
    <div class="frame__content">
      <div class="frame__box box">
        <div class="info">
          <div class="info__base">
            <h3 class="info__title color-pink-red">Production</h3>
            <p class="text">
              We provide a full picture of how your idea looks like being brought to life: we give an appearance to your vision.
            </p>
          </div>
          <div class="info__side">
            <picture class="info__pic">
              <source srcset="/img/production_mob.png, /img/production_mob@2x.png 2x" media="(max-width: 480px)">
              <img class="info__img lazyload" data-src="/img/production.png" data-srcset="/img/production@2x.png 2x" alt="Production">
            </picture>
          </div>
        </div>
      </div>
      <div class="frame__bg"></div>
    </div>
  </section>
  <!-- Production END -->

  <!-- Cases -->
  <div class="trigger" id="triggerCases"></div>
  <div class="frame frame_cases" id="cases">
    <div class="frame__content">
      <div class="frame__slider">
        <div class="slider" id="slider">
          <div class="slider__container" id="sliderContainer">
            <div class="slider__box" id="sliderBox">
              {% set cases = [{
              "title": "MolaMola",
              "desc": "It’s a fundraising platform for solving problems and implementing ideas.",
              "img": "case-pattern-1",
              "link": "molamola"
              },{
              "title": "Costposter",
              "desc": "It’s a service designed to taste the full range of flavors of the services that exist.",
              "img": "case-pattern-2",
              "link": "costposter"
              },{
              "title": "Cally",
              "desc": "It can check availability and help you connect with your contacts, prospects and clients.",
              "img": "case-pattern-3",
              "link": "cally"
              },{
              "title": "Gymfit",
              "desc": "Find the differences in colors and pictures in time!",
              "img": "case-pattern-4",
              "link": "gymfit"
              }] %}

              {% for item in cases %}
              <div class="slider__item">
                <a class="case" href="/cases/{{item.link}}.html">
                  <div class="case__box">
                    <h3 class="case__title">{{item.title}}</h3>
                    <div class="case__desc">{{item.desc}}</div>
                  </div>
                  <div class="case__cover">
                    <picture>
                      <source type="image/webp" data-srcset="/img/{{ item.img }}.webp, /img/{{ item.img }}@2x.webp 2x">
                      <img class="case__img lazyload" data-src="/img/{{ item.img }}.jpg" data-srcset="/img/{{ item.img }}@2x.jpg 2x" alt="{{ item.title }}">
                    </picture>
                    <div class="case__inner">
                      <span class="case__btn btn btn_secondary">View case</span>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="frame__bg"></div>
    </div>

  </div>
  <!-- Cases END -->

  <!-- Contact -->
  <div class="bottom nav-color-black">
    <div class="box">
      <h3 class="bottom__caption caption">
        Say hello.<br>
        Talk to a human
      </h3>
      <div class="btn-group">
        <div class="btn-group__item">
          <a class="btn btn_primary" href="#" data-popup="popup_calendly"><span class="btn__text">Book a call</span></a>
        </div>
        <div class="btn-group__item">
          <span class="btn-group__text">or</span>
        </div>
        <div class="btn-group__item">
          <a href="/contact.html" class="btn btn_primary"><span class="btn__text">leave a message.</span></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact END -->

</div>

{% endblock %}