@mixin placeholder($content) {
	&::-webkit-input-placeholder {
		color: $content;
	}
	&::-moz-placeholder {
		color: $content;
	}
	&:-ms-input-placeholder {
		color: $content;
	}
}

@mixin text-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

@mixin center {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@mixin center-X {
	left: 50%;
	transform: translateX(-50%);
}

@mixin center-Y {
	top: 50%;
	transform: translateY(-50%);
}

// font-size and line-height
@mixin font($fsz,$lh) {
	font-size: $fsz + px;
	line-height: $lh/$fsz;
}

// wall
@mixin wall {
	background-color: $blue-light;
	border-top: 6px solid $blue;
}

// use this mixin to create scalable elements (usually background images / images) to maintain the ratio.
// example: @include responsive-ratio(16,9)
@mixin responsive-ratio($x,$y, $pseudo: false) {
	$padding: unquote( ( $y / $x ) * 100 + '%' );
	padding-bottom: $padding;
}

// test background
@mixin test {
	background-color: rgba(0, 0, 0, .25);
}

// margin bottom between sections
// headings margins bottom
@mixin mb-headings {
	margin-bottom: 60px;

	@media (max-width: $screen-xl) {
		margin-bottom: 50px;
	}
	@media (max-width: $screen-sm) {
		margin-bottom: 40px;
	}
}

@mixin mb-big {
	margin-bottom: 110px;

	@media (max-width: $screen-xl) {
	}
	@media (max-width: $screen-sm) {
		margin-bottom: 100px;
	}
}

@mixin mb-default {
	margin-bottom: 90px;

	@media (max-width: $screen-xl) {
	}
	@media (max-width: $screen-sm) {
	}
}

@mixin mb-small {
	margin-bottom: 60px;

	@media (max-width: $screen-xl) {
	}
	@media (max-width: $screen-sm) {
	}
}