//*** --- Paths --- *** //
$imgPath: '../img';
$iconPath: '../icons';
$fontPath: '../fonts';

//*** --- Colors --- *** //

// site colors
$white: #fff;
$black: #131417;

$dark: #41444F;
$gray: #9AA2B0;
$silver: #c3c3c3;

$red: #f00;

// colors map
$text-color: $dark;
$bg-overlay: rgba($black, .4);


//*** --- Layout --- *** //

// breakpoints
$screen-xs: 375px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;


$screen-h-xxs: 374px;
$screen-h-xs: 420px;
$screen-h-md: 699px;
$screen-h-lg: 799px;

// widths
$width-default: 1440px;
$width-small: 1160px;

// paddings
$padding-small: 20px;
$padding-middle: 40px; // sm+
$padding-large: 70px;  // xl+
$padding-big: 90px;    // xxl+

// header height
$header-height: 64px;
$header-height-mob: 64px;


//*** --- Typography --- *** //

// basic typography
$gt-walsheim: 'GT Walsheim', sans-serif;
$font-family: $gt-walsheim;
$font-size: 16px;
$line-height: 1;




//*** --- Transitions --- *** //

/* default for most elements */
$transition-time: 0.25s;
$transition-style: ease;
$transition: .25s ease;

/* links hover */
$transition-link: .25s ease-in-out;

// transition for mobile navigation
$transition-nav: .5s ease-out;

// transition for popup
$transition-time-modal: .3s;