<footer class="footer">
  <div class="footer__container box">
    <div class="footer__social">
      <a href="whatsapp://send/?phone=+375447444666" class="footer__link">Whatsapp</a>
      <a href="https://www.linkedin.com/company/humandone/" target="_blank" class="footer__link">LinkedIn</a>
      <a href="https://www.facebook.com/humandone" target="_blank" class="footer__link">Facebook</a>
    </div>
    <div class="footer__copyright">
      <span class="footer__text">©2020. humandone.com</span>
    </div>
    <div class="footer__side">
      <a href="mailto:hello@humandone.com" class="footer__link">hello@humandone.com</a>
    </div>
  </div>
</footer>