<div class="header">
  <div class="header__box box">
    <a class="logo" href="/">Human<span class="logo__part">done</span></a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/blog.html" class="nav__link">Blog</a>
        </li>
        <li class="nav__item">
          <a href="/#cases" class="nav__link anchor">Cases</a>
        </li>
        <li class="nav__item">
          <a href="/contact.html" class="nav__link">Contact us</a>
        </li>
        <li class="nav__item">
          <a href="#" data-popup="popup_calendly" class="nav__link">Book a call</a>
        </li>
      </ul>
    </nav>
    <a class="nav__btn" href="#" aria-label="Open navigation">
      <span class="nav__btn-line"></span>
    </a>
  </div>
</div>