<header class="header header_light">
  <div class="header__box box">

    <a class="logo" href="/">
      <svg class="logo__icon" width="124" height="49"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-logo_white"></use></svg>
    </a>

    <div class="header__container">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#"><span class="nav__line">Features</span></a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#"><span class="nav__line">Pricing</span></a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#"><span class="nav__line">Compare Plans</span></a>
          </li>
        </ul>
      </nav>
      <a class="login" href="#" data-popup="popup_login">
        <span class="login__line">Log In</span>
        <svg class="login__icon" width="13" height="13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-arrow-right"></use></svg>
      </a>
    </div>
    <a class="nav-btn" href="#">
      <span class="nav-btn__line"></span>
    </a>


  </div>
</header>
