<div class="popup" id="popup_pass">
  <div class="popup__box">
    <div class="popup__body">
      <div class="popup__title">Password recovery</div>
      <div class="popup__content">
        <form action="" class="form">
          <div class="form__row">
            <div class="form__text">
              To create a new password, enter your email
            </div>
          </div>
          <div class="form__row">
            <input class="form__input" type="email" placeholder="Email address">
            <div class="form__error-message">Please enter email address</div>
          </div>
          <div class="form__bottom">
            <button class="btn btn_type_dark btn_wide" type="submit">Send</button>
          </div>
        </form>
      </div>
      <a class="popup__close" href="#">
        <svg class="popup__close-icon" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-close"></use></svg>
      </a>
    </div>
  </div>
</div>