---
title: Cally | Humandone

keywords:
description:

url: cases/cally

socialTitle: Cally
socialDescription: It can check availability and help you connect with your contacts, prospects and clients.
socialImg:
socialImgSquare:
socialImgTwitter:

---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="trigger" id="triggerParallaxTop"></div>

<article role="main" class="nav-color-black">
  <header class="top top_case">
    <div class="top__box box box_small box_padding">
      <h1 class="caption">Cally</h1>
    </div>
  </header>
  <div class="cover pt-80 bg-blue-light">
    <div class="box">
      <div class="cover__padding">
        <div class="cover__pic shadow parallax-top">
          {{ img('cally-hero', 'jpg', 'Cally', 'nolazy') }}
        </div>
      </div>
    </div>
  </div>
  <div class="box box_small mb-120">
    <div class="promo pt-150 mb-120">
      <div class="promo__side">
        <h4 class="lead">The main task</h4>
      </div>
      <div class="promo__base">
        <p class="promo__text">
          Сorporate website design for a service that helps with business planning. Cally developed for scheduling calls and appointments and synchronized with up to six calendars to check your availibility in real time.
        </p>
        <div class="promo__tags">
          <ul class="tags">
            <li class="tags__item">
              <div class="tag tag_web">#web</div>
            </li>
            <li class="tags__item">
              <div class="tag tag_ux">#ux/ui</div>
            </li>
            <li class="tags__item">
              <div class="tag tag_html">#html/css</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="heading">
      <h2 class="caption">A brand is more than a logo</h2>
      <p class="block text-sm">
        When working with Cally, our team were faced with the task of developing a common user interface and a responsive adaptive design. Together, we have developed a number of concepts, which resulted in the style now seen.
      </p>
    </div>
    <h3 class="title mb-40">Colors & Typography</h3>
    <div class="sep">
      <div class="sep__base">
        <div class="lead mb-30">Primary Corporate Typeface</div>
        {{ imgSmall('cally-typo', 'png', 'Primary Corporate Typeface') }}
      </div>
      <div class="sep__side">
        <div class="lead mb-30">Project colors</div>
        {{ imgSmall('cally-colors', 'png', 'Project colors') }}
      </div>
    </div>
  </div>


  <div class="box box_small">
    <div class="heading">
      <h2 class="caption align-center">Let’s get in app</h2>
    </div>
  </div>

  <div class="decor-blue pb-120">
    <div class="decor-blue__wrap">
      <svg class="decor-blue__bg inline-svg" src="../img/decor-blue.svg"></svg>
    </div>
    <div class="mb-120">
      <div class="box mb-60">
        <div class="shadow shadow_big parallax">
          {{ img('cally-app', 'jpg', 'Cally app') }}
        </div>
      </div>
      <div class="box box_small">
        <p class="block text-sm align-center">
          You can easily use flexible CRM assisting to track upcoming calls and current templates.
        </p>
      </div>
    </div>
    <div class="box box_small mb-60">
      <h3 class="title align-center">
        And this is what the page where customers can book your time looks like
      </h3>
    </div>
    <div class="box">
      <div class="shadow shadow_big parallax">
        {{ img('cally-book', 'jpg', 'Booking page') }}
      </div>
    </div>
  </div>

  <div class="box box_small">
    <div class="pt-80 mb-150">
      <h3 class="title align-center mb-30">
        Some ways of usage
      </h3>
      <div class="text-sm align-center mb-60">
        Cally can ... and increase sales.
      </div>
      <div class="grid grid_usage">
        <div class="grid__cell">
          <div class="card">
            <div class="card__top">
              <svg class="card__icon inline-svg" src="../img/coldmailing.svg"></svg>
            </div>
            <h4 class="title">
              Cold mailing
            </h4>
            <div class="card__desc text-sm">
              Leave a link to your personal schedule when sending cold letters to customers.
            </div>
          </div>
        </div>
        <div class="grid__cell">
          <div class="card">
            <div class="card__top">
              <svg class="card__icon inline-svg" src="../img/onboarding.svg"></svg>
            </div>
            <h4 class="title">
              Onboarding
            </h4>
            <div class="card__desc text-sm">
              Increase onboarding conversion by giving customers the opportunity to contact you.
            </div>
          </div>
        </div>
        <div class="grid__cell">
          <div class="card">
            <div class="card__top">
              <svg class="card__icon inline-svg" src="../img/recruting.svg"></svg>
            </div>
            <h4 class="title">
              Recruting
            </h4>
            <div class="card__desc text-sm">
              Give candidates the opportunity to choose a convenient communication time for them.
            </div>
          </div>
        </div>
        <div class="grid__cell">
          <div class="card">
            <div class="card__top">
              <svg class="card__icon inline-svg" src="../img/call.svg"></svg>
            </div>
            <h4 class="title">
              Call up
            </h4>
            <div class="card__desc text-sm">
              Using Cally it’s easier to find a common time for a call with colleagues and clients.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>

{{ next('Gymfit', 'gymfit', '#0685F4') }}

<div class="bottom">
  <div class="box box_small">
    <h3 class="bottom__caption caption">
      Have an idea?<br>
      Talk to a human
    </h3>
    <div class="btn-group">
      <div class="btn-group__item">
        <a href="#" data-popup="popup_calendly" class="btn btn_primary"><span class="btn__text">Book a call</span></a>
      </div>
      <div class="btn-group__item">
        <span class="btn-group__text">or</span>
      </div>
      <div class="btn-group__item">
        <a href="/contact.html" class="btn btn_primary"><span class="btn__text">leave a message.</span></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}