.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bg-bottom {
  width: 11.78em;
  height: 1em;
  fill: #FFF;
}
.icon-checkmark {
  width: 1.21em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-logo_white {
  width: 2.58em;
  height: 1em;
  fill: #FFF;
}
